
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Neg._.ah galaxy</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                       <!-- ***** Logo Start ***** -->
                       <a href="#" class="logo">
                        <img src="assets/images/logo.png" />
                    </a>
                   
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">خانه</a></li>
                            <li><a href="#features">درباره سایت و من</a></li>
                            <li><a href="#work-process">تلسکوپ های ناسا</a></li>
                            <li><a href="#testimonials">مدیران ناسا</a></li>
                            <li><a href="#blog">کهکشان‌ها</a></li>
                            <li><a href="#contact-us">ارتباط با ما</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>درود بر شما <strong>به وبسایت من خوش آمدید</strong><br>امیدوارم این وبسایت برای شما مفید باشد </h1>
                        <p>کهکشان‌ها یکی از عجیب‌ترین و بیشتر تحسین برانگیزترین پدیده‌های کیهانی هستند. 
                            این ساختارهای غول‌آسا شامل میلیون‌ها ستاره، گرداب‌های گازی و گردوغبار، سیارات، و دیگر جسم‌های آسمانی هستند که در طول میلیون‌ها سال شکل گرفته‌اند. 
                            کهکشان‌ها در اندازه‌ها، شکل‌ها، و خصوصیات مختلفی وجود دارند و با توجه به پژوهش‌های جدید، تعداد آن‌ها بسیار بیشتر از پیش فرض می‌شود.
                             به همین دلیل، مطالعه کهکشان‌ها و خصوصیات آن‌ها به عنوان یکی از پرمخاطب‌ترین زمینه‌های فیزیک و فلسفه طبیعی شناخته می‌شوند</p>
                        <a href="#features" class="main-button-slider">اطلاعات بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01-g.png" alt=""></i>
                                </div>
                                <h5 class="features-title">کهکشان‌های برجسته </h5>
                                <p>این کهکشان‌ها دارای ساختار دوار هستند و به شکل دیسکی با بازوهایی به دور آن شبیه یک براکت نشسته‌اند. کهکشان جادویی 
                                     که ما در آن زندگی می‌کنیم، نیز یک کهکشان برجسته است.
                                     این نوع کهکشان‌ها دارای ستارگان جوان، رنگارنگ و زیادی هستند.این کهکشان ها به دلیل شدت نور و فراوانی ستاره هایشان برای محققان و علاقه مندان نجومو موضوع بحث برانگیز هستند</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01-g2.png" alt=""></i>
                                </div>
                                <h5 class="features-title">کهکشان‌های بیضوی</h5>
                                <p>این کهکشان‌ها دارای ساختار گرد هستند و بیشتر از ستارگان پیر و سرخ هستند.
                                     آنها نیز به دلیل نداشتن بازوهای شاخص، به عنوان کهکشان‌های لنزی شناخته می‌شوند</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01-g3.png" alt=""></i>
                                </div>
                                <h5 class="features-title">کهکشان‌های نامنظم</h5>
                                <p>این نوع کهکشان‌ها دارای ساختار نامنظمی هستند و هیچ نوع ترتیبی ندارند.
                                     آنها شامل ستاره‌های جوان و پیر، که اغلب در مناطقی با فشار بالا و بیشترین میزان تشتت در جهان فضایی قرار دارند</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">هدف از ایجاد سایت درمورد کهکشان ها</h2>
                    </div>
                    <div class="left-text">
                        <p>هدف از ایجاد سایت در مورد کهکشان‌ها، ارائه اطلاعات علمی و آموزشی درباره این آثار زیبا و بی‌نظیر در جهان فضایی است.
                            .سایت کیهان‌شناسی می‌تواند به عنوان یک وسیله آموزشی برای دانش‌آموزان و دانشجویان در دوره‌های کیهان‌شناسی و فیزیک به کار رود و آنها را با مفاهیم و مباحث مربوط به کیهان‌شناسی و فضا آشنا کند
                            .و البته هدف اصلی این سایت ارتقای دانش و آگاهی عمومی از دنیای فضایی و نقش ما در آن است
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">سلام :) من نگینم </h2>
                    </div>
                    <div class="left-text">
                        <p> من یکی از نویسندگان وبسایت کیهان‌شناسی هستم.
                             عاشق کیهان‌شناسی هستم و از طریق این وبسایت سعی می‌کنم به دیگران اطلاعات و مفاهیمی که در این حوزه یاد گرفته‌ام، منتقل کنم. امیدوارم با مطالعه مقالات و تحقیقاتی که در این وبسایت به اشتراک می‌گذارم، بتوانید در جهان بیشتری از کیهان و دانش کیهان‌شناسی به دست آورید.
                              با تشکر از شما که به این وبسایت سر می‌زنید</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>تلسکوپ‌ ها</h1>
                            <p>ناسا یکی از بزرگترین سازمان‌های فضایی در جهان است و تلسکوپ‌های بسیاری را در طول سال‌ها راه‌اندازی کرده است. در زیر به برخی از تلسکوپ‌های مهم اشاره می‌کنم

                            </p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                      
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
                            <strong>تلسکوپ هابل</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
                            <strong>تلسکوپ چاندرا</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
                            <strong>تلسکوپ پلانک</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
                            <strong>تلسکوپ جیمز وب</strong>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    
            
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">مدیران ناسا</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>ناسا یک سازمان فضایی بزرگ در ایالات متحده آمریکا است که تحت نظارت و اداره دولت ایالات متحده است 
                            این سازمان برای بسیاری از ماموریت‌های فضایی معروف و شناخته شده در سطح جهان مسئولیت داشته است در زیر نام چند مدیر ناسا در گذشته و حال آمده است</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>او در حال حاضر مدیر عامل ناسا است. او پیش از این به عنوان سناتور ایالت فلوریدا و وزیر دفاع ایالات متحده آمریکا خدمت می کرد</p>
                            <div class="user-image">
                                <img src="assets/images/nelson.png" >
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">بیل نلسون</h3>
                                <span> مدیر عامل </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>وی در ۱۲ ژوئیه ۲۰۱۸ توسط رئیس‌جمهور دونالد ترامپ نامزد دریافت این مقام شد و در ۱۱ اکتبر ۲۰۱۸ به تأیید رسید. در زمان نامزدی، مورهارد به دلیل کمبود تجربه در فناوری فضایی مورد توجه قرار گرفته بود، اما با توجه به ارتباطاتی که داشت، به‌طور بالقوه برای سازمان مفید توصیف شد.</p>
                            <div class="user-image">
                                <img src="assets/images/jame.png">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">جیمز مورهارد </h3>
                                <span>معاون مدیر عامل</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p> دکتر «سواتی موهان» ، مدیر عملیات راهنمایی و کنترل مأموریت مریخ ۲۰۲۰ ناسا، یا به عبارت دیگر، مسئول اطمینان از قرارگیری فضاپیمای حمل کننده استقامت در مسیر صحیح است</p>
                            <div class="user-image">
                                <img src="assets/images/sowan.png" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">سواتی موهان</h3>
                                <span> مدیر ارشد ماموریت‌های فضایی</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

 

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">کهکشان ها</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>در این قسمت سه مورد از کهکشان های کشف شده را می بینید</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-01.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">یک جفت عاشق کهکشان</a>
                            </h3>
                            <div class="text">
                                دو کهکشان هر دو در مارپیچی ، در نبرد چند صد میلیون ساله قفل شده اند
                                 و ستاره هاو گرد و غبار و گاز را از کهکشانهای میزبان خود بیرون می آورند و یک کمان جاری تشکیل میدهند که این دو را به هم متصل میکند و نام این دو کهکشان، یعنی کهکشانهای آنتن را ایجاد میکنند 
                            </div>
                            <a href="#" class="main-button">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-02.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">سبز پوشیده؟</a>
                            </h3>
                            <div class="text">
                                این تصویر که در سال 2009 توسط تلسکوپ فضایی اسپیتزر بازنشسته ثبت شده یک مه سبز را نشان میدهد که توسط دو ستاره درخشان روشن شده است. مه از ترکیبات هیدروژن و کربن ساخته شده است که درست همین جا روی زمین در اگزوز خودروهای دودی و روی کباب پزهای زغال شده یافت میشوند، با این حال در فضا این ترکیبات در ابرهای تیره شکل می گیرند که ستاره ها رامی سازند.

                                این مولکولها راهی برای ستاره شناسان فراهم میکنند تا مرزهای ابرهای گازی را تجسم کنند و ساختارهای آن ها را با جزئیات عالی مطالعه کنند. این تصویر چندین خروجی کوچک و پر از گاز از ستاره های نزدیک را نشان می دهد که نشان از جوانی آنهاست. چنین خروجی ها راهی عالی برای هدف قرار دادن ستاره های بسیار جوان و عظیم در اولین مراحل و سخت گرفتن هستند
                            </div>
                            <a href="#" class="main-button">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-03.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">مرکزشهر، گشت و گذار از میان کهکشان</a>
                            </h3>
                            <div class="text">
                                در نزدیکی قلب کهکشان راه شیری ما حدود ۲۶۰۰۰ سال نوری از زمین فاصله دارد مرکز شهر پر از همهمه و مادون قرمز از تلسکوپ فضایی اسپیتزر ما نشان داده شده است یکصد هزار سال نوری در سراسر با حضور حداقل ۱۰۰ میلیارد ستاره کهکشان مارپیچی ما توسط یک سیاهچاله ابرچشم که چهار میلیون برابر عظیم تراز خورشید ما تخمین زده میشود کنار هم نگه داشته میشود.

                                جمعیت میلیونها ستاره یک هاز آبی ایجاد می کنند که به سمت مرکز تصویر متصل میشود، ویژگی های سبز نشان دهنده مولکول های غبار غنی از کربن است که با گردش نور ستاره ها به دور هسته کهکشان روشن میشوند. ستاره های جوان درخشش حرارتی تولید میکنند که به رنگ زرد قرمز دیده میشوند. درخشان ترین بخش تصویر، خوشه ستاره مرکزی بیکران و پرجمعیت را در کهکشان ما نشان میدهد که از نزدیک به دور سیاهچاله عظیم در مرکز کهکشان ما می چرخند.
                                </div>
                            <a href="#" class="main-button">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">ارتباط با ما</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>هرگونه پیشنهادی دارید با ما به اشتراک بگذارید</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">با ما در ارتباط باشید</h5>
                    <div class="contact-text">
                        <p>
                        <br></p>
                        <p></p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="نام و نام خانوادگی" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="ایمیل" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="پیغام شما" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">ارسال</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2023 Negin's galaxy website - Design: Neg._.ah</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>